<nav class="navbar navbar-default navbar-fixed-top">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-md hidden-lg" href="/">
         <img src="../assets/images/logo_beta.png" alt="">
      </a>
   </div>
   <div id="navbar" class="navbar-collapse collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
         <li class="hidden-xs hidden-sm">
            <a class="navbar-brand" href="/">
               <img class="second-brand" src="../assets/images/logo_beta.png" alt="">
            </a>
         </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li>
           <a href="https://twitter.com/bitcharts" target="_blank">Twitter</a>
         </li>
         <li>
            <a href="/doc">API Docs</a>
         </li>
         <li>
            <a href="https://sinaptica.io" target="_blank" id="ad">Sinaptica</a>
         </li>
      </ul>
      <center>
         <ul>
            <li>
               <form>
                  <div class="input-group wallet-search-width">
                     <input type="text" id="wallet-search" class="form-control wallet-search" placeholder="Introduzca una wallet">
                     <span class="input-group-btn">
                        <button class="btn btn-default btn-wallet-search" type="submit" id="wallet-btn"><i class="fa fa-search"></i></button>
                     </span>
                  </div>
               </form>
            </li>
         </ul>
      </center>
   </div>
</nav>